yolov5/
*.pt
!models/.gitkeep
outputs/*.jpg
outputs/alerts.log
data/images/
data/labels/
__pycache__/
*.pyc
.venv/
runs/
data_downloaded/
dashboard/node_modules/
dashboard/dist/
datasets/
models/best-int8.tflite
models/best_saved_model/
